<div class="about">
  <p>
    I’m a Junior Developer living in Seattle originally for Miami.<br />
    <br />

    Currently working in Ruby on Rails. Working on learning full-stack JavaScript.
    You can see some of <%=link_to "my code here", code_path, :class=>"ng" %>. I can be reached <%= mail_to "info@mixolidia.com", "here", :class=>"nr" %>.
  </p>
</div><!--about-->
