<div class="about">
  <p>
    I’m a Software Developer living in Miami.<br />
    <br />

    Currently working in Ruby on Rails and Sinatra. <br />
    Learning full-stack JavaScript and Python.<br />
    Participated in Rails Girls Summer of Code 2015, worked on <%=link_to "exercism.io", "http://exercism.io/", :target=>"_blank", :class=>"nf" %>. <br />
    Gave a lightining talk at Madison+ Ruby 2015 on open source hurdles for newcomers, <br />
    titled <em>5 Open Source Hurdles</em>.<br />
    You can see some of <%=link_to "my code here", code_path, :class=>"ng" %>.
  </p>
</div><!--about-->
