<!DOCTYPE html>
<html>
<head>
  <title>Mixolidia Codes</title>
  <%= stylesheet_link_tag    'application', media: 'all' %>
  <%= javascript_include_tag 'application' %>
  <%= csrf_meta_tags %>
  <link href='http://fonts.googleapis.com/css?family=Josefin+Sans:100,300,400,600,700,100italic,300italic,400italic,600italic,700italic' rel='stylesheet' type='text/css'>

  <meta name="author" content "Mixolidia Gautreaux" />
  <meta name="description" content="Mixolidia Gautreaux is a full-stack junior developer. Ruby, Rails, JavaScript, JQuery, HTML, CSS, Agile, TDD, CRUD." />
</head>
<body class ="container">
  <div class="header">
    <h1>
      Mixolidia<br />
      Gautreaux
    </h1>
  </div>
<aside>
  GitHub
  LinkedIn
  Twitter
  Contact Me
</aside>

<%= yield %>
</body>
</html>
