<!DOCTYPE html>
<html>
<head>
  <title>Mixolidia Codes</title>
  <%= stylesheet_link_tag    'application', media: 'all' %>
  <%= javascript_include_tag 'application' %>
  <%= csrf_meta_tags %>

  <meta name="author" content "Mixolidia Gautreaux" />
  <meta name="description" content="Mixolidia Gautreaux is a full-stack junior developer. Ruby, Rails, JavaScript, JQuery, HTML, CSS, Agile, TDD, CRUD." />
</head>
<body>
  <header>
    <h1>
      Mixolidia Gautreaux
    </h1>
  </header>
<aside>
  GitHub
  LinkedIn
  Twitter
  Contact Me
</aside>

<%= yield %>

</body>
</html>
